page-login {
	.toolbar-background {
    // background-color: color($colors, utama);
	    background: transparent;
	}

	.login-header {
		position: relative;
		background: transparent;
		border-radius: 0px;
		padding-top: 5px;
		margin-top: 30px;
	}

	.logo-img {
		display: block;
		width: 25%;
		margin: auto;
		text-align: center;
		padding: auto;
	}

	.card-login{
		background: rgba(255,255,255, 1);
		box-shadow: rgba(0, 0, 0, 0.52) 0px 2px 8px 0px;
		color: #fff; 
		margin: 0px;
		border-radius: 5px;
		padding: 10px 0px;
	}

	.ioninput{
		--color: #000;
		--padding-bottom: 15px;
		--padding-top: 15px;
		--padding-start: 5px;
		font-size: 18px;
		text-indent: 1px;
		padding-left: 5px !important;
	}

	.buttonlogin{
		margin: 0px 10px;
	}

	.content{
		color: #fff;
		background-image: url('../assets/bglogin.png');
		background-repeat: no-repeat;
		background-size:cover;
	}

	.linespace{
		border-bottom: 2px solid #ccc;
		margin: 10px 0;
		width: 100%;
	}

	.toolbar-title {
      color: #EEEEEE;
      font-size: 16px;
    }

}
