page-koor-detail-transaksi-korp {

	.card-tops{
		color: #000; width: calc(100% - 14px); margin: 0px; margin-top: 10px; margin-left: 7px; margin-right: 7px; box-shadow: 0px; padding-bottom: 10px; border-radius: 5px;
	}

	.card-midsc{
		color: #000; width: calc(100% - 14px); margin: 0px; margin-top: 10px; margin-left: 7px; margin-right: 7px; box-shadow: 0px; padding: 0px;border-radius: 5px;
	}
    
    .card-mids{
        color: #000; margin: 0px; margin-top: 10px; margin-left: 10px; margin-right: 10px; margin-bottom: 10px; box-shadow: 0px; padding-bottom: 0px; border-radius: 5px; box-shadow: rgba(0, 0, 0, 0.52) 0px 2px 8px 0px;
    }

	.toolbar-background {
	    background-color: color($colors, korporat);
	}

	ion-checkbox{
       background: #FFFFFF;
        border-width: 1px !important;
        border-style: solid !important;
        border-radius: 4px;
        border-color : blue !important;
        --height : 18px;
        --width: 18px;
        --checkmark-color:blue;
        --background-checked: #FFFFFF;
        --border-color: #FFFFFF;
        --border-color-checked :#FFFFFF;
    }

    .labels{
        margin: 3px 8px 3px 0px;
    }

}
