page-koor-pick-driver-korp {

	.toolbar-background {
	    background-color: color($colors, korporat);
	}

	#map_canvas {
        height: 100%;
    }
    .card-mids{
		height: 350px; color: #000; margin: 10px; box-shadow: 0px; padding: 0px; border-radius: 5px; box-shadow: rgba(0, 0, 0, 0.52) 0px 2px 8px 0px;
	}
	.card-midss{
		color: #000; margin: 10px; box-shadow: 0px; padding-bottom: 0px; border-radius: 5px; box-shadow: rgba(0, 0, 0, 0.52) 0px 2px 8px 0px;
	}

	.labels{
        margin: 3px 8px 3px 0px;
    }

}
