<ion-header no-border>
  <ion-navbar hideBackButton >
    <ion-grid style="padding: 0px;">
      <ion-row>
        <ion-col style="padding: 0px;">
          <ion-title>
            <ion-label class="title">
            <ng-container *ngIf="login_data.idpetugas==''; then nologint; else logint"></ng-container>
            <ng-template #nologint>KOORDINATOR</ng-template>
            <ng-template #logint>{{login_data.jabatan}}</ng-template>
        	</ion-label>
          </ion-title>
        </ion-col>
        <!-- <ion-buttons end style="padding-right: 10px; padding-top: 5px;" (click)="to_reassignment()">
	      <button style="font-size: 12px" ion-button icon-only color="light">
	        <ion-icon ios="ios-repeat" md="md-repeat"></ion-icon>
	      </button>
	    </ion-buttons> -->
        <ion-buttons end style="padding-right: 10px; padding-top: 5px;" (click)="to_history()">
	      <button style="font-size: 12px" ion-button icon-only color="light">
	        <ion-icon name="ios-clipboard" md="md-clipboard"></ion-icon>
	      </button>
	    </ion-buttons>
	    <ion-buttons end style="padding-right: 10px; padding-top: 5px;" (click)="logout()">
	      <button style="font-size: 12px" ion-button icon-only color="light">
	        <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
	      </button>
	    </ion-buttons>
      </ion-row>
      <ion-card class="card-tops no-scroll">
      	<ion-row>
	        <ion-col style="padding: 0px;">
	          <ion-title>
	          	<ng-container *ngIf="login_data.idpetugas==''; then nologin; else login"></ng-container>
				<ng-template #nologin>
					<ion-label class="title3">-<br> <span style="font-size: 14px;">-</span></ion-label>
				</ng-template>
				<ng-template #login>
					<ion-label class="title3">{{login_data.idpetugas}} - {{login_data.username}} <br> <span style="font-size: 3.4vw;">{{login_data.kdkantor}} {{login_data.kantor}}</span></ion-label>
				</ng-template>
	          </ion-title>
	        </ion-col>
      	</ion-row>
	    <ion-row>
	      <ion-list-header style="margin-bottom: 0px;">
	      	<ng-container *ngIf="items==null; then notrxa; else trxa"></ng-container>
			<ng-template #notrxa></ng-template>
	        <ng-template #trxa>
	        	<ng-container *ngIf="items.length==0; then notrx1a; else trx1a"></ng-container>
	        	<ng-template #notrx1a></ng-template>
	        	<ng-template #trx1a>
	        		<b style="font-size: 3.2vw">Total {{items.length}} Transaksi</b>
	        	</ng-template>
	        </ng-template>
	        <span style="float: right; padding-right: 10px; padding-top: 3px; font-size: 3.2vw">{{tgl_show}}</span>
	      </ion-list-header>
	    </ion-row>
	  </ion-card>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content>

	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles"></ion-refresher-content>
	</ion-refresher>

	<ng-container *ngIf="items==null; then notrx; else trx"></ng-container>
	<ng-template #notrx>
		<img style="padding: 10px 10px; margin-top: 70px;" src="assets/not_available.svg" height="200" width="100%" />
		<ion-card-content style="text-align: center; color: #000;">
		  Belum ada transaksi..
		</ion-card-content>
	</ng-template>

	<ng-template #trx>
		<ng-container *ngIf="items==''; then notrx1; else trx1"></ng-container>
		<ng-template #notrx1>
		  <img style="padding: 10px 10px; margin-top: 70px;" src="assets/not_available.svg" height="200" width="100%" />
		  <ion-card-content style="text-align: center; color: #000;">
		    Belum ada transaksi..
		  </ion-card-content>
		</ng-template>
		<ng-template #trx1>
		  <ion-list class="ion-scroll">
            <ion-card *ngFor="let item of items" class="card-mids" (click)="detail_trx(item,item.pickupdate)">
              <ion-row style="border-bottom: 1px solid #DEDEDE;">
                <ion-col col-9 style="margin: 0px; padding: 0px; background-color: transparent;" ion-item>
                  <img item-start style="width: 30px; margin: 0px 7px 0px 7px;" src="assets/icon/id.svg" />
                  <span style="font-size: 3.2vw;"><b>{{item.pickupid}}</b></span>
                </ion-col>
                <ion-col col-3 style="margin: 0px; padding: 0px; background-color: transparent; text-align: right;" ion-item>
                  <span style="font-size: 3.2vw;"><b>{{item.requestpickupdate}}</b></span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="desc">
                  {{item.sendername}} - {{item.senderphone}}<br>
                  <span style="font-size: 2.8vw;">{{item.senderaddress}}</span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6 style="padding-top: 15px; padding-left: 8px; font-size: 3vw">Total <b>{{item.itemscount}}</b> Paket</ion-col>
                <ion-col col-6 style="font-size: 5vw; padding-right: 8px;"><span style="float: right;">Rp. {{item.itemsmoneysum | number }}</span></ion-col>
              </ion-row>
            </ion-card>
          </ion-list>
		</ng-template>
	</ng-template>
  
</ion-content>

<ion-footer class="ion-no-border"></ion-footer>
