// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
* {
    font-family: $font-family-base;
}

.no-scroll {
      .scroll-content {
          overflow: hidden !important;
      }
  }

// #map_canvas, #pano_canvas {
//   height: 100%;
// }

.smallPanel {
  margin: 10px;
  padding: 10px;
  background-color:rgba(255,255,255,0.5);
  z-index: 2 !important;
  font-size: 10vw;
}

.toolbar-background {
    background-color: color($colors, utama);
    // background: transparent;
}

.header{
    color: white;
}

.back-button-icon-md {
    color: white;
}

.content{
	color: #000000;
	// background-image: url('../../assets/bg1.png');
	// background-repeat: no-repeat;
	// background-size:cover;
  background-color: #ffffff;
}

.title{
  color: white;
  font-size: 3.7vw;
}

.title3{
  margin: 0px 0px 5px 0px;
  text-align: center;
  color: black;
  font-size: 3.7vw;
}

.custom-class{
  .toast-wrapper {
    background-color: red;
  }
}

.custom-classs{
  .toast-wrapper {
    background-color: green;
  }
}