page-koor-history {

	.card-tops{
	 	color: #000; width: calc(100% - 14px); margin: 0px; margin-top: 10px; margin-left: 7px; margin-right: 7px; box-shadow: 0px; padding-bottom: 0px; padding-top: 0px; border-radius: 5px;
	}

	.card-topss{
	 	color: #000; width: calc(100% - 14px); margin: 0px; margin-top: 10px; margin-left: 7px; margin-right: 7px; box-shadow: 0px; padding: 0px;border-radius: 5px;
	}

	.card-mids{
		color: #010101; 
		margin: 0px; 
		margin-top: 10px; 
		margin-left: 10px; 
		margin-right: 10px;
		box-shadow: 0px; 
		padding-bottom: 5px; 
		border-radius: 5px; 
		background-color: #FFFEFE;
	}

	.title3{
		text-align: left;
		color: #000;
		margin: 0px;
		font-size: 12px; 
		margin-bottom: 3px;
	}

	.title2{
		text-align: left;
		color: #000;
		margin: 0px;
		font-size: 11px; 
		margin-bottom: 2px;
	}

	.title4{
		text-align: right;
		color: #000;
		margin: 0px;
		font-size: 12px; 
		margin-top: 7px;
		margin-bottom: 3px;
		margin-right: 15px;
	}

	.desc{
		padding: 5px 5px 0px 5px; font-size: 2.8vw; 
	}

	.desc2{
		padding: 5px 5px 0px 5px; font-size: 2.8vw;
	}

}
