page-driver-history {

	.card-tops{
		color: #000; width: calc(100% - 14px); margin: 0px; margin-top: 10px; margin-left: 7px; margin-right: 7px; box-shadow: 0px; padding-bottom: 10px; border-radius: 5px;
	}

	.card-mids{
		color: #000; margin: 0px; margin-top: 10px; margin-bottom: 10px; margin-left: 10px; margin-right: 10px; box-shadow: 0px; padding-bottom: 0px; border-radius: 5px;
	}

	.date-exp{
		padding-top: 15px; padding-left: 0px; font-size: 12px; text-align: right; padding-right: 8px;
	}

	.desc{
		padding: 5px 5px 0px 5px; font-size: 2.8vw; 
	}

	.desc2{
		padding: 5px 5px 0px 5px; font-size: 2.8vw; margin-bottom: 10px;
	}

	.id{
		padding: 0px; text-align: center;
	}

	.p{
		font-size: 13px;
		color: color($colors, dark);
	}

	.p1{
		font-size: 13px;
		color: color($colors, dark);
	}

	.icons {
		 display: inline-block;
		 font-size: 25px;
		 vertical-align: middle;
	}

	.texts{
		padding-top: 3px;
		display: inline-block;
		vertical-align: middle;
	}

}
